{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.ico')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Password Generator{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Here you go !!! Generate your secured password 👮‍️ </h1>

      <!-- This is where your WTForm will go -->
        <br>
      {{ wtf.quick_form(form, novalidate=True) }}
      <br>
        <p style="color:white;">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <em>'Text copied. Just Paste'</em>
          <h2 class="space-above" style="color:gold;" >Here your new password</h2>
          <p id="myInput"> {% for message in messages %}
          {{ message }}
          {% endfor %}
          {% endif %}
          {% endwith %} </p>

        </p>

        <br>
        <br>

        <a href="{{url_for('home')}}">Return to home page</a></p>

    </div>
  </div>
</div>

{% endblock %}
